.signup .flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.signup-body {
	margin: 5 auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
}
.signup form {
	margin: 0px;
	padding: 0px;
	display: inline;
}
.signup a {
	color: #c91d01;
	font-size: 12px;
	text-decoration: underline;
}
.signup a:hover {
	text-decoration: none;
}
.signup input.text {
	font-size: 10px;
	border: 1px solid #6b7ea9;
	height: 19px;
}
.signup .ok {
	font: 11px Verdana;
	font-weight: normal;
	color: #009900;
}
.signup .error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
}
.signup #container {
	width: 550px;
	height: 650px;
	clear: both;
	margin: 0 auto;
}
.signup #header {
	/*width: 400px;*/
	height: 100px;
	max-height: 100px;
}
.signup #content {
	border: 1px solid #6b7ea9;
	flex: 1;
	height: 500px;
	width: 580px;
	padding: 10px;
	display: block;
}
.signup #footer {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 10px;
}
.signup input.submit {
	background: #000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	height: 23px;
	border: 1px solid #000;
	width: 120px;
}
.signup input.btn {
	background: #6b7ea9;
	width: 100px;
}
.signup span.package {
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.signup div.package {
	padding: 5px;
	text-align: left;
	float: left;
	width: 120px;
	border: 1px solid #ccc;
	margin: 5px;
	display: block;
}
.signup .package_desc {
	padding: 5px;
	color: #555753;
	font-size: 11px;
	font-weight: normal;
}
.signup h3 {
	margin: 0px;
}
.signup .package_amt {
	font-size: 10px;
	float: left;
	font-weight: bold;
	color: #4e9a06;
}
.signup .package_select {
	float: right;
	font-weight: bold;
	color: #3465a4;
	font-size: 10px;
	cursor: pointer;
}
.signup .package_selected {
	float: right;
	font-weight: bold;
	color: #a40000;
	font-size: 10px;
}
.signup #service_period {
	font-weight: normal;
	font-size: 11px;
	color: #555753;
	padding: 5px;
}
.signup .left {
	float: left;
}
.signup .right {
	float: right;
}
.signup .clear {
	clear: both;
}
.signup div.error {
	font-size: 11px;
	font-weight: normal;
	color: #ff0000;
	border: 1px solid #ff0000;
	background: #FFC url(../images/icon_cross.png) 8px 4px no-repeat;
	text-align: center;
	padding: 5px;
	padding-left: 25px;
	width: 350px;
	margin: 0 auto;
}
.signup div.ok {
	font-size: 11px;
	font-weight: normal;
	color: #006600;
	border: 1px solid #006600;
	background: #FFC url(../images/icon_ok.png) 8px 4px no-repeat;
	text-align: center;
	padding: 5px;
	padding-left: 40px;
}
.signup span.label {
	font-weight: bold;
	font-size: 11px;/*font-family: Arial, Helvetica, sans-serif;*/
}
.signup div.label {
	width: 120px;
}
